<form id="page-form" class="form-horizontal form-inline js-updateProfile" action=""
      method="post" enctype="multipart/form-data">
   <input id="PageImage" type="hidden" name="PageImage" value="{{ user.page.img }}">
   <input type="hidden" name="PageRank" value="{{ user.page.rank }}">
   <!----------------hide nickname---------------->
   <div class="row my-iherb-hide-options">
      <div class="col-xs-24">
         <h2 class="h2">{{ _('User Name :') }} <span
               class="green js-newNickName bold">{{ user.username }}</span></h2>
         <label for="ShowNickName">
            <input id="ShowNickName" name="ShowNickName" type="checkbox" disabled='disabled'/>
            {{ _('Do not show') }}
         </label>
      </div>
   </div>
   <section class="row">
      <div class="col-xs-24">
         <hr class="hr"/>
      </div>
   </section>
   <!----------------page header---------------->
   <h4 class="h4 orange">{{ _('Page Header') }}</h4>
   <div class="form-group">
      <h2 class="h2 inline my-iherb-title"><label for="PageTitle">{{ _('Title') }}</label></h2>
      <input class="form-control input-field input-field-md" id="PageTitle" name="PageTitle"
             placeholder="Add Page Title" type="text" value="{{ user.page.title }}"/>
   </div>
   <div class="row my-iherb-options">
      <div class="col-xs-24">
         <p>
            <span class="black bold">Note:</span>
            {{ _('Page title should not exceed 50 characters. Please do not include a rewards or promo code.') }}
         </p>
      </div>
   </div>
   <!----------------hide rank---------------->
   <div class="row my-iherb-hide-options">
      <div class="col-xs-24">
         <h2 class="h2 my-iherb-rank">{{ _('My Rank :') }} <span class="green">{{ _(user.page.rank) }}</span></h2>
         <label for="ShowRank">
            <input id="ShowRank" name="ShowRank" type="checkbox"/>
            {{ _('Do not show') }}
         </label>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-24">
         <hr class="hr"/>
      </div>
   </div>
   <div class="form-group">
      <div class="row">
         <div class="col-xs-24">
            <!----------------profile photo---------------->
            <div class="row">
               <div class="col-xs-24">
                  <h4 class="h4 orange">{{ _('Page Customization') }}</h4>
               </div>
            </div>
            <section class="row">
               <div class="col-xs-24 my-iherb-messages-photo">
                  <ul class="js-photomessages js-allmessages">
                     <li class="hide">
                        <div class="success-msg">
                           <i class="icon-disclaimer"></i>
                           <span>{{ _('Your profile photo has been removed.') }}</span>
                        </div>
                     </li>
                     <li class="hide">
                        <div class="error-msg">
                           <i class="icon-disclaimer"></i>
                           <span>
                              {{ _('Something happened and we could not remove your photo. Please try again in a few minutes. If the problem persists, please contact customer service. Thank you.') }}
                           </span>
                        </div>
                     </li>
                     <li class="hide">
                        <div class="error-msg">
                           <i class="icon-disclaimer"></i>
                           <span>{{ _('No photo uploaded.') }}</span>
                        </div>
                     </li>
                     <li class="hide">
                        <div class="warning-msg">
                           <i class="icon-informationnote"></i>
                           <span>
                              {{ _('Remember to click &quot;Save Page Customizations&quot; to finish uploading your new profile photo.') }}
                           </span>
                        </div>
                     </li>
                  </ul>
               </div>
            </section>
            <div class="row">
               <div class="col-xs-8">
                  <h2 class="h2">Profile Photo</h2>
                  <span>{{ _('You may upload photos in jpg, gif or png format') }}</span>
               </div>
               <div class="col-xs-8 my-iherb-photo">
                  <div class="photo-holder">
                     <img class="profile-img js-updatePhotoInput"
                          src="/media/w/{{ user.page.img }}"
                          data-default="https://s.images-iherb.com/i/iherbleafprofile.png"
                          alt="" title="My iHerb Profile Photo"/>
                     <div id="choosefile" class="photo-button">
                        <i class="icon-camera camera"></i>
                     </div>
                     <input style="display: none;" id="upfile" name="file" type="file"/>
                  </div>
               </div>
               <div class="col-xs-8 my-iherb-remove-photo">
                  <a class="js-removePhoto">Remove Photo</a>
                  <p>{{ _('Profile photo changes may take up to a few minutes to see changes.') }}</p>
               </div>
               <div class="col-xs-24">
                  <div class="col-xs-24 my-iherb-customizations">
                     <!----------------page description---------------->
                     <h2 class="h2">{{ _('Page Description') }}</h2>
                     <textarea class="form-control" cols="20" id="PageDescription"
                               maxlength="1000" name="PageDescription"
                               placeholder="Add Page Description" rows="8">{{ user.page.description }}</textarea>
                     <p><span class="black bold">{{ _('Note:') }}</span> {{ _('Use this field to tell us about yourself!
                        Please limit your remarks to yourself, natural products, and healthy living. (Please no phone
                        numbers or URLs.) Do not exceed 1000 characters.') }}</p>
                     <div class="row">
                        <div class="col-xs-24">
                           <hr class="hr"/>
                        </div>
                     </div>
                     <!----------------social media accounts---------------->
                     <div class="row">
                        <div class="col-xs-10">
                           <h2 class="h2">{{ _('Social Media Accounts') }}</h2>
                           <p><span>{{ _('Include Links to Your Social Media Accounts') }}</span></p>
                        </div>
                        <div class="col-xs-14">
                           <div class="social-media-icon-use">
                              <div>
                                 <i class="icon-facebook "></i>
                              </div>
                              <div>
                                 <i class="icon-twitter "></i>
                              </div>
                              <div>
                                 <i class="icon-googleplus "></i>
                              </div>
                              <div>
                                 <i class="icon-youtube "></i>
                              </div>
                              <div>
                                 <i class="icon-youku "></i>
                              </div>
                              <div>
                                 <i class="icon-instagram "></i>
                              </div>
                              <div>
                                 <i class="icon-pinterest "></i>
                              </div>
                              <div>
                                 <i class="icon-linkedin "></i>
                              </div>
                              <div>
                                 <i class="icon-wordpress "></i>
                              </div>
                              <div>
                                 <i class="icon-blogger "></i>
                              </div>
                              <div>
                                 <i class="icon-livejournal "></i>
                              </div>
                           </div>
                        </div>

                        <div class="col-xs-24">
                           <div class="social-media">
                              <div>
                                 <i class="icon-facebook "></i>
                                 <input class="form-control" id="FacebookUrl" name="FacebookUrl"
                                        placeholder="Add Facebook username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-twitter "></i>
                                 <input class="form-control" id="TwitterUrl" name="TwitterUrl"
                                        placeholder="Add Twitter username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-googleplus "></i>
                                 <input class="form-control" id="GPlusUrl" name="GPlusUrl"
                                        placeholder="Add Google Plus username or URL"
                                        type="text" value=""/>
                              </div>
                              <div>
                                 <i class="icon-youtube "></i>
                                 <input class="form-control" id="YoutubeUrl" name="YoutubeUrl"
                                        placeholder="Add Youtube username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-youku "></i>
                                 <input class="form-control" id="YoukuUrl" name="YoukuUrl"
                                        placeholder="Add Youku username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-instagram "></i>
                                 <input class="form-control" id="InstagramUrl"
                                        name="InstagramUrl"
                                        placeholder="Add Instagram username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-pinterest "></i>
                                 <input class="form-control" id="PinterestUrl"
                                        name="PinterestUrl"
                                        placeholder="Add Pinterest username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-linkedin "></i>
                                 <input class="form-control" id="LinkdinUrl" name="LinkdinUrl"
                                        placeholder="Add LinkedIn username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-wordpress "></i>
                                 <input class="form-control" id="WordPressUrl"
                                        name="WordPressUrl"
                                        placeholder="Add WordPress username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-blogger "></i>
                                 <input class="form-control" id="BloggerUrl" name="BloggerUrl"
                                        placeholder="Add Blogger username or URL" type="text"
                                        value=""/>
                              </div>
                              <div>
                                 <i class="icon-livejournal "></i>
                                 <input class="form-control" id="LiveJournalUrl"
                                        name="LiveJournalUrl"
                                        placeholder="Add LiveJournal username or URL"
                                        type="text" value=""/>
                              </div>
                           </div>


                        </div>
                        <div class="col-xs-24 social-media-action">
                           <button class="btn btn-primary js-showEditSocialMedia"
                                   data-hide="Hide Social Media Link Options"
                                   data-show="Show Social Media Link Options">Show Social Media
                              {{ _('Link Options') }}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row my-iherb-submit">
      <div class="col-xs-24">
         <a class="btn btn-xl btn-default bold" target="_blank" href="{{ request.url[:-1] }}">{{ _('View Page') }}</a>
         <button id="updateProfileBtn" type="submit" class="btn btn-xl btn-primary bold">
            {{ _('Save Page Customizations') }}
         </button>
      </div>
   </div>
</form>
<script>
document.addEventListener('DOMContentLoaded', function() {
   $('#choosefile').click(function() {
      $('#upfile').trigger('click');
   });

   $('#upfile').change(function() {
      var file_data = $(this).prop('files')[0];
      var form_data = new FormData();
      form_data.append("file", file_data)
      $.ajax({
         url: '/media/+',
         type: 'POST',
         data: form_data,
         cache: false,
         contentType: false,
         processData: false,
      }).done(function(response) {
         $('#PageImage').val(response);
      });
   });

   $('#page-form').submit(function() {
      function getFormData($form){
         var unindexed_array = $form.serializeArray();
         var indexed_array = {};
         $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
         });
         return indexed_array;
      }
      data = getFormData($(this));
      data = {
         title: data['PageTitle'],
         description: data['PageDescription'],
         img: data['PageImage'],
         rank: data['PageRank']
      }
      data = {json: JSON.stringify(data), node: 'page', ajax: ''}
      $.ajax({
         url: '',
         type: 'POST',
         data: data,
      }).done(function(response) {
         location.reload();
      });
      return false;
   })
}, false);
</script>