<section class="col-xs-6 col-md-4" id="MyAccountMenu">
   <div class="row">
      <div class="col-xs-24">
         <div class="category-title">
            <i class="icon-myaccountmobile green"></i>
            <a href="https://checkout.iherb.com/checkout/profile" class="b">{{ _('MY ACCOUNT') }}</a>
         </div>
         <div class="category-links">
            <ul>
               <li>
                  <a class="" href="https://checkout.iherb.com/checkout/profile">{{ _('Orders') }}</a>
               </li>
               <li>
                  <a class="" href="/myaccount/accountsettings">{{ _('Account Settings') }}</a>
               </li>
               <li>
                  <a class="" href="/myaccount/addressbook">{{ _('Address Book') }}</a>
               </li>
               <li>
                  <a class="" href="/myaccount/CreditCards">{{ _('Credit Cards') }}</a>
               </li>
               <li>
                  <a class="" href="/myaccount/messagecenter">{{ _('Messages') }}</a><span
                     class="badge badge-danger badge-small ma-icons js-menu-mc-alert hide"></span>
               </li>
               <li>
                  <a class="" href="https://secure.iherb.com/myaccount/reviewmyproducts">{{ _('Reviews') }}</a>
               </li>
               <li>
                  <a class="selected" href="/myaccount/publicprofile">{{ _('My Page') }}</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-24">
         <div class="category-title">
            <i class="icon-cart green"></i>
            <span class="b">{{ _('SHOPPING TOOLS') }}</span>
         </div>
         <div class="category-links">
            <ul>
               <li>
                  <a class="" href="/myaccount/wishlist">{{ _('Wish List') }}</a>
               </li>
               <li>
                  <a class="" href="/editcart/quickshop">{{ _('Quick Shop') }}</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-24">
         <div class="category-title">
            <i class="icon-settings green"></i>
            <span class="b">{{ _('SETTINGS') }}</span>
         </div>
         <div class="category-links">
            <ul>
               <li>
                  <a class="" href="/myaccount/emailpreferences">{{ _('Email Preferences') }}</a>
               </li>
               <li>
                  <a class="" href="/myaccount/notificationlist">{{ _('Notification List') }}</a>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-xs-24">
         <div class="category-title">
            <i class="icon-rewards green"></i>
            <span class="b">{{ _('REWARDS') }}</span>
         </div>
         <div class="category-links">
            <ul>
               <li>
                  <a class="" href="/rewards/overview">{{ _('Overview') }}</a>
               </li>
               <li>
                  <a class="" href="/rewards/reports">{{ _('Reports') }}</a>
               </li>
               <li>
                  <a class="" href="/rewards/faq">{{ _('FAQ') }}</a>
               </li>
               <li>
                  <a class="" href="/rewards/termsandconditions">{{ _('Terms and Conditions') }}</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>