{% extends "user/base.html" %}
{% block container %}
<div id="WishList" class="col-xs-24 col-md-20 myaccount-container">

   <section class="row row-buffer-md">
      <div class="col-xs-2 hidden-md hidden-lg hidden-xl myaccount-hamburger-menu">
         <i class="icon-hamburgermenufat h-menu open-overlay"></i>
      </div>
      <div class="col-xs-11 col-md-16 breadcrumbs">
         <div class="row">
            <div class="col-xs-24">
               <h1>Wish List</h1>
               <p><a class="breadcrumbs" href="/myaccount/profile">My Account </a> <span> Wish List</span></p>
            </div>
         </div>
      </div>

      <div class="col-xs-11 col-md-8 wishlist-search-container text-right">
         <form action="/myaccount/orderhistory" class="form-horizontal form-inline js-wishlistSearch">
            <div class="form-group wishlist-search-group">
               <input type="text" class="form-control js-searchKey" name="kw" value=""
                      placeholder="Search Products in Your Lists">
               <button type="submit" class="search-btn btn btn-default" data-ga-event=""
                       data-ga-event-category=""
                       data-ga-event-action=""
                       data-ga-event-label=""
                       data-ga-event-value="">
                  <i class="icon-search-button icon search"></i>
               </button>
            </div>
         </form>
      </div>
   </section>

   <div class="row" id="wishlist-container">
      <div class="col-xs-24 wishlist-body">
         <div class="col-xs-24 wishlist-header is-table-row">
            <div class="col-xs-6 nopadding-left">

            <span id="WishlistTitle">
My List            </span>
               <span> (0)</span>

            </div>
            <div class="col-xs-18 wishlist-actions nopadding-right">

               <select class="col-xs-6 form-control float-right list-dropdown" data-ga-event="change"
                       data-ga-event-action="Wishlist" data-ga-event-category="Wishlist-Action"
                       data-ga-event-label="Change - Change List" data-ga-event-value="My List" id="Folder"
                       name="Folder">
                  <option value="">My List</option>
               </select>

               <div class="share-your-list-container float-right inline-item disabled">
                  <div class="share-link">
                    <span class="share-text"
                          data-ga-event="click"
                          data-ga-event-category="Share"
                          data-ga-event-action="Share"
                          data-ga-event-label="Click - Share List"
                          data-ga-event-value="">Share</span>
                     <i class="icon-sharefilled"
                        title="Share Your Wishlist"
                        data-ga-event="click"
                        data-ga-event-category="Share"
                        data-ga-event-action="Share"
                        data-ga-event-label="Click - Share List"
                        data-ga-event-value=""></i>
                  </div>
                  <div id="" class="popup-nub-container">
                     <div class="popup-close"><i class="icon-exit"></i></div>
                     <div class="popup-content">
                     </div>

                  </div>
               </div>

               <div class="add-list-container float-right inline-item">
                  <div class="add-list">
                     <span class="as-links"></span><i class="icon-plus" title="New List"></i>
                  </div>

                  <div id="wishlist-create-list" class="popup-nub-container">
                     <div class="popup-close"><i class="icon-exit"></i></div>
                     <div class="popup-title">New List</div>
                     <div class="popup-content">
                        <form class="js-wishlistCreate">
                           <p>Enter a New List Name:</p>
                           <input type="text" name="folderName" class="form-control col-xs-24" id="folderName"
                                  maxlength="20" value="" autocomplete="off" required/>
                           <p class="error hide list-exist-error">List already exists.</p>
                           <div class="popup-footer">
                              <input class="btn btn-primary"
                                     id="btnCreateFolder"
                                     name="btnCreateFolder"
                                     value="Create"
                                     data-ga-event="click"
                                     data-ga-event-category="Wishlist-Action"
                                     data-ga-event-action="Wishlist"
                                     data-ga-event-label="Click - Create a list"
                                     data-ga-event-value="" type="submit" disabled/>
                           </div>
                        </form>
                     </div>


                  </div>

               </div>

            </div>
         </div>

         <input type="hidden"
                id="multiSelectProperties"
                data-multi-remove="Items Removed"
                data-multi-add="Items Added to Cart"
                data-multi-move="Moved to "
                data-wishlist-url="https://www.iherb.com/myaccount/wishlist"
                data-item-moved="List Saved"
                data-item-in-cart="Already in the list"
                data-created-list="Created"/>


         <div class="row">
            <div class="wishlist-sub-header col-xs-24">
               <div class="actions row">
                  <div class="col-xs-4 checkbox-col header">
                     <label>
                        <input id="wishlistCheckAll" type="checkbox" name="checkall" class="product-checkbox"
                               data-cms-show="Select All" data-cms-hide="Deselect All"/>
                        <span class="bold-blue" id="sel">Select All</span>
                     </label>
                  </div>
                  <div class="col-xs-6 options-drop">
                     <div id="multi-select-dropdown" class="custom-dropdown hide" tabindex="1">
                        <span>Options</span>
                        <ul class="dropdown multi-dropdown">
                           <li class="default no-hover" value="-1">Move to:</li>
                           <li class="multi-add-to-cart"
                               value="1"
                               data-ga-event="click"
                               data-ga-event-category="Wishlist-Action"
                               data-ga-event-action="Wishlist"
                               data-ga-event-label="Click - Multi add selected to cart"
                               data-ga-event-value="">Add Selected to Cart
                           </li>

                           <li class="multi-delete"
                               value="2"
                               data-ga-event="click"
                               data-ga-event-category="Wishlist-Action"
                               data-ga-event-action="Wishlist"
                               data-ga-event-label="Click - Multi delete selected"
                               data-ga-event-value="">Delete Selected
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xs-5 float-right">
                     <select class="form-control filter-dropdown"
                             name="sr"
                             id="wishlistFilter"
                             data-ga-event="change"
                             data-ga-event-category="Wishlist-Action"
                             data-ga-event-action="Wishlist"
                             data-ga-event-label="Change - Sort"
                             data-ga-event-value="Sort">
                        <option selected="selected" value="-1" selected=selected>
                           -- Sort Items --
                        </option>
                        <option value="8">Date Added</option>

                        <option value="4">Price (Low to High)</option>

                        <option value="3">Price (High to Low)</option>

                        <option value="6">Product Name (A-Z)</option>

                        <option value="7">Product Name (Z-A)</option>

                        <option value="2">Highest Rated</option>

                        <option value="11">Heaviest</option>

                        <option value="12">Lightest</option>

                     </select>
                  </div>
               </div>
            </div>


         </div>


         <div class="row">
            <div class="wishlist-product-container col-xs-24">
               <div class="empty-wishlist">
                  <i class="icon-heart-line-thick"></i>
                  <h4>Your List is Empty</h4>
                  <p>Shop 35,000+ Top Brand Healthy Products and receive Best Overall Savings for Orders over
                     $40 USD.</p>
                  <a href="/">Start Browsing</a>
               </div>
            </div>
         </div>

         <form action="https://checkout.iherb.com/pro/addlisttocart" method="POST" id="frm-cart">
            <input type='hidden'
                   value="0XgNrS/mo9lqLzFhGsKiAyJuW+wyYlANCYn+8+u4AIK/gZF0g8DvXOfWwbMwspLBu8lDkAyL4ONK3eP8S5/+s2DdkYiURa0NB2f+BBTMjxLDxQyRLtuqeRedNouG7EuZ"
                   name="rftdatases"/>
         </form>

         <form action="/myaccount/wishlist/" method="POST" id="frmWishListAct">
            <input type="hidden" name="hidaction" id="hidactionItems"/>
            <input type="hidden" name="hidItems" id="hidItems"/>
            <input type="hidden" name="DestfolderID" id="DestfolderID"/>
            <input type="hidden" name="totalPages" id="totalPages" value="0"/>
            <input type="hidden" name="totalItemsOnPage" id="totalItemsOnPage" value="0"/>
         </form>


      </div>
   </div>

</div>
{% endblock %}
