$width: 310px;
$padding: 50px;
$padding-top: 10px;
$msg-radius: 1px;
$green-halo: #ddf5d5;
$green: #a1db99;
$item: 130px;

.side {
  position: absolute; // birin besh baa in yeki

  margin-left: 30px;
  width: $width;
  margin-top: 23px;
}

.side .msg {
  border-radius: $msg-radius;
  width: $width - 2 * $padding;
  margin-top: $padding-top + 10px;
  margin-bottom: $padding-top;
  line-height: 2em;
}

.msg .img {
  width: 100%;
  height: 181px;
  background-size: cover;

  border-radius: $msg-radius;
}

.side .msg.lg {
  width: $width - 2 * $padding-top - 18px;
  margin-left: $padding-top - 10px;
  border-radius: 7px;
  overflow: hidden;
}

.rack {
  background-color: rgb(246,245,244);
}

.rack .item {
  display: inline-block;
}

.item + .item {
  margin-left: 7px;
}

.rack .item {
  width: $item;
  height: $item + 40px;

  border-radius: 6px;

  background-color: palegreen;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}

.rack .item:hover .title {
  background-color: rgba(255, 255, 255, .8);
  box-shadow: inset 0 0 1px 0 grey;

  position: relative;
  top: calc(91% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transition: ease-in .2s;
}

.rack .item .title {
  position: relative;
  top: 60%;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  color: white;
  overflow: hidden;
  text-align: right;
  line-height: 1.3em;
}

.rack .item:hover .title {

}

/* ------------------- *\
    heh
\* ------------------- */
.side .about {
  width: 272px;
  background-color: #f6f5f4;
  border-radius: 6px;
}

.side .about .line > * {
  display: inline-block;
}

.side .about .block {
  width: 272px;
  height: 100px;
  background-color: white;

  border-radius: 6px;
}

.side .about .block.small {
  width: 132px;
  height: 85px;
}

.side .about {
  .small.block + .small.block {
    margin-left: 4px;
    margin-right: -5px;
  }
  .line + .line {
    margin-top: 6px;
  }
;
}

.side .rect {
  background-color: white;

  position: relative;

  height: 90px;
  width: 75px;

  border-radius: 6px 0px 0px 6px;
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#949DA0), to(#545D60));
  background: -webkit-linear-gradient(#949DA0, #545D60);
  background: -moz-linear-gradient(#949DA0, #545D60);
  background: -o-linear-gradient(#949DA0, #545D60);
  background: linear-gradient(#949DA0, #545D60);*/
}
.side .rect span {
  position: relative;
  z-index: 2;
}
.side .rect:before {
  background-color: white;
  content: "";

  position: absolute;

  top: 0px;
  left: 42px;
  height: 51%;
  width: 100%;

  border-radius: 0px 10px 6px 0px;
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#949DA0), to(#747D80));
  background: -webkit-linear-gradient(#949DA0, #747D80);
  background: -moz-linear-gradient(#949DA0, #747D80);
  background: -o-linear-gradient(#949DA0, #747D80);
  background: linear-gradient(#949DA0, #747D80);*/
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  transform: skew(45deg);
}
.side .rect:after {
  background-color: white;
  content: "";

  position: absolute;

  bottom: 0px;
  left: 42px;
  height: 51%;
  width: 100%;

  border-radius: 0px 6px 10px 0px;
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#747D80), to(#545D60));
  background: -webkit-linear-gradient(#747D80, #545D60);
  background: -moz-linear-gradient(#747D80, #545D60);
  background: -o-linear-gradient(#747D80, #545D60);
  background: linear-gradient(#747D80, #545D60);*/
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  transform: skew(-45deg);
}

/*
.side .rect:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#545D60), to(#949DA0));
  background: -webkit-linear-gradient(#545D60, #949DA0);
  background: -moz-linear-gradient(#545D60, #949DA0);
  background: -o-linear-gradient(#545D60, #949DA0);
  background: linear-gradient(#545D60, #949DA0);
}
.side .rect:hover:before {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#545D60), to(#747D80));
  background: -webkit-linear-gradient(#545D60, #747D80);
  background: -moz-linear-gradient(#545D60, #747D80);
  background: -o-linear-gradient(#545D60, #747D80);
  background: linear-gradient(#545D60, #747D80);
}
.side .rect:hover:after {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#747D80), to(#949DA0));
  background: -webkit-linear-gradient(#747D80, #949DA0);
  background: -moz-linear-gradient(#747D80, #949DA0);
  background: -o-linear-gradient(#747D80, #949DA0);
  background: linear-gradient(#747D80, #949DA0);
}*/

$star-height: 22px;
.side .stars {
  background-color: #817c7c;

  position: absolute;

  width: $star-height * 5;
  height: $star-height + 2px;
  top: 11px;
  left: 250px;

  border-radius: 2px;
  border: 1px white solid;

  box-shadow: 0px 0px 1px 1px #c3c3c3;
}

.side .author {
  text-align: center;
}

.author .avatar {
  margin: 5px auto 3px auto;

  width: 64px;
  height: 64px;

  border-radius: 50%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2KNlMhVh_b9ecBYRvj7qOGtUIUKkOfwQeZGbbuAlUgt7-oFg0rw);
  background-size: cover;
  box-shadow: 1px 1px 7px -3px black;
}

.stars > .star {
  display: inline-block;
  background-image: url(img/StarFilled-50.png);
  background-size: contain;
  width: 21px;
  height: 21px;
  margin-top: 1px;
  margin-left: 1px;
}