{% extends "how/base.html" %}
{% block head %}
    <title>home</title>
{% endblock %}
{% block content %}
    <div class="side">
        {% block author %}{% endblock %}
        {% block recommelizer %}{% endblock %}
        {% block plus %}{% endblock %}
    </div>
    <div class="container" style="position:absolute; right: 60px">
        <div id="intro" class="section  sticky  hasad" style="text-align: right">
            <h1 class="firstHeading"><a href="//www.wikihow.com/Self-Detox-from-Alcohol"><span
                    id="hdr_prefix">دکتر میگوید</span>{{ meta.title }}</a>
            </h1>

            <div style="background-color: #ddf5d5; margin: 6px -27px 6px -27px; padding-right: 45px">
                {% for level in level_1 %}
                    <div><a href="#{{ level.title }}" class="">{{ level.title }}<span
                            style="display: inline-block;margin-left: 30px; width: 10px; height: 10px; background-color: #8acf8a"></span></a>
                    </div>
                {% endfor %}
            </div>

            <p>{{ meta.intro }}</p>
            <div class="clearall"></div>
            <div class="wh_ad_inner adunitintro">
                <script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script type="text/javascript">
                    <!--
                    document.write('<i' + 'ns class="adsbygoogle" style="display:block;width:728px;height:120px" data-ad-client="ca-pub-9543332082073187" data-ad-slot="6425735775"> </' + 'i' + 'ns>');

                    (adsbygoogle = window.adsbygoogle || []).push({
                        params: {
                            google_max_num_ads: 2,
                            google_override_format: true,
                            google_ad_channel: "0206790666+2096849770+1640266093+6709519645+7399043796+4912122252+7122150828" + gchans + xchannels
                        }
                    });

                    //-->
                </script>
            </div>
            <div class="clearall adclear"></div>
            <script>WH.performance.mark('intro_rendered');</script>
        </div>

        {% for level in level_1 %}
            <div class="section steps   sticky " style="padding-top: 79px;">
                <!--<h3 class="related-title">
                <div class="altblock">{{ meta.level_1 }}<span>{{ level.index }}</span></div>
                <span class="mw-headline" id="Helping_Children_and_Healthy_Adults">{{ level.title }}</span>
            </h3>-->
                <h3 class="related-title h3">
                    <div class="pointer"></div>
                    <div class="tube">
                        <span>{{ level.title }}</span>
                    </div>
                    <div class="sand-time"></div>
                    <div class="num">
                        <div class="level">{{ meta.level_1 }}</div>
                        <div class="int">{{ level.index }}</div>
                    </div>
                </h3>
                <div id="steps_1" class="section_text">
                    <ol class="steps_list_2">
                        {% set outer_loop = loop %}
                        {% for inner_level in level.level_2 %}
                            <li class="hasad">
                                <div class="mwimg largeimage floatcenter " style="max-width:728px">
                                    {% if bool_var %}
                                        <form action="/hows/{{ _id }}/{{ outer_loop.index }}/{{ loop.index }}/media/+" method="post"
                                              enctype="multipart/form-data">
                                            <input type="file" name="image">
                                            <input type="submit" value="Upload Image">
                                        </form>
                                    {% endif %}

                                    {% if inner_level.i %}
                                        <a href="#/Image:Treat-Chicken-Pox-Step-1-Version-2.jpg" class="image lightbox"
                                           data-href="/Image:Treat-Chicken-Pox-Step-1-Version-2.jpg?ajax=true&amp;aid=1383609"><img
                                                alt="Image titled Treat Chicken Pox Step 1" width="728" height="546"
                                                class="whcdn"
                                                onload="WH.performance.clearMarks('image1_rendered'); WH.performance.mark('image1_rendered');"
                                                id="img_1c2bb87c5f"
                                                data-src="http://pad3.whstatic.com/images/thumb/4/44/Treat-Chicken-Pox-Step-1-Version-2.jpg/aid1383609-728px-Treat-Chicken-Pox-Step-1-Version-2.jpg"
                                                src="/media/n/{{ inner_level.i }}">
                                            <script>var img = document.getElementById('img_1c2bb87c5f');
                                            defer.add(img);
                                            </script>
                                            <script>WH.performance.clearMarks('image1_rendered');
                                            WH.performance.mark('image1_rendered');</script>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="step_num" aria-label="Step 1">{{ inner_level.index }}</div>
                                <div class="step" style="text-align: right">
                                    <b class="whb">{{ inner_level.b }}</b>{{ inner_level.t }}
                                    {% if inner_level.li %}
                                        <ul dir="rtl">
                                            {% for li in inner_level.li %}
                                                <li>{{ li }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if inner_level.tr %}
                                        <table style="width:100%; float: right; text-align: right">
                                            {% for tr in inner_level.tr %}
                                                <tr>
                                                    {% for td in tr %}
                                                        <td>{{ td }}</td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% endif %}
                                    <script>WH.performance.mark('step1_rendered');</script>
                                </div>
                                <div class="clearall"></div>
                                <div class="adunit0 dfpad" style="margin-left:-20px">
                                    <!-- /10095428/Health_First-Step_Desktop -->
                                    <div id="div-gpt-0-First-Step">
                                        <script type="text/javascript">
                                            if (checkAllDone()) {
                                                callDfpUnit('div-gpt-0-First-Step');
                                            } else {
                                                adsToBeCalled.push('div-gpt-0-First-Step');
                                            }
                                        </script>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                    <div class="clearall"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}