{% extends "how/article.html" %}
{% block author %}
    <div class="about">
        <div class="line">
            <div class="small block"></div>
            <div class="small block"></div>
        </div>
        <div class="line">
            <div class="block">
                <div class="author">
                    <div class="avatar"></div>
                    دکتر اجل
                </div>
            </div>
        </div>
    </div>
    <!--<div class="stars">
        <div class="star"></div>
        <div class="star"></div>
    </div>-->
{% endblock %}
{% block recommelizer %}
    <div class="lg msg">
        <div class="rack">
            <div class="item" style="background-image: url(http://localhost:5000/static/img/almonds.jpg)">
                <div class="title"> به نام خدا تاثیرات مخرب گوشی ها و انواع دیگر لوازم</div>
            </div>

            <div class="item" style="background-image: url(http://localhost:5000/static/img/lice.jpg)">
                <div class="title">خارش پوست</div>
            </div>
        </div>
        <div class="rack">
            <div class="item" style="background-image: url(http://localhost:5000/static/img/lip.jpg)">
                <div class="title">مقاله حجیم کننده های لب</div>
            </div>

            <div class="item" style="background-image: url(http://localhost:5000/static/img/old_skin.jpg)">
                <div class="title">پیر پوستی</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="footer" style="float: right">
        <input style="float: right">
        <div class="btn" style="float: left">fjeoijo</div>
    </div>
{% endblock %}