<div class="latest-blog-articles-container"
     data-icon-url="https://s.images-iherb.com//i/footer/visit-our-blog/blog-icon-us-en.png" style="">
   <div class="container-fluid">
      <div class="flex-container">
         <div class="left-articles col-xs-11">
            <div class="article-card col-xs-12 col-lg-8 ">
               <div class="link-overlay-container">
                  <a href="https://www.iherb.com/blog/teas-for-cold-and-flu-support" class="link-overlay"
                     data-ga-event="click" data-ga-event-category="Ecommerce" data-ga-event-action="Clicks Blog"
                     data-ga-event-label="Blog Article Click"></a>
                  <img class="img-responsive"
                       src="https://s.images-iherb.com/blog/uploads/teas-for-cold-and-flu-support-small.jpg">
                  <a href="https://www.iherb.com/blog/teas-for-cold-and-flu-support" class="article-title line-clamp-2"
                     data-ga-event="click" data-ga-event-category="Ecommerce" data-ga-event-action="Clicks Blog"
                     data-ga-event-label="Blog Article Click">
                     Teas for Cold and Flu Support
                  </a>
               </div>
            </div>
            <div class="article-card col-xs-12 col-lg-8 ">
               <div class="link-overlay-container">
                  <a href="https://www.iherb.com/blog/top-13-essential-oils-and-how-they-can-benefit-your-health"
                     class="link-overlay" data-ga-event="click" data-ga-event-category="Ecommerce"
                     data-ga-event-action="Clicks Blog" data-ga-event-label="Blog Article Click"></a>
                  <img class="img-responsive"
                       src="https://s.images-iherb.com/blog/uploads/top-13-essential-oils-and-how-they-can-benefit-your-health-small.jpg">
                  <a href="https://www.iherb.com/blog/top-13-essential-oils-and-how-they-can-benefit-your-health"
                     class="article-title line-clamp-2" data-ga-event="click" data-ga-event-category="Ecommerce"
                     data-ga-event-action="Clicks Blog" data-ga-event-label="Blog Article Click">
                     Top 13 Essential Oils and How They Can Benefit Your Health
                  </a>
               </div>
            </div>
            <div class="article-card col-xs-12 col-lg-8 visible-lg visible-xl">
               <div class="link-overlay-container">
                  <a href="https://www.iherb.com/blog/benefits-of-collagen-supplements" class="link-overlay"
                     data-ga-event="click" data-ga-event-category="Ecommerce" data-ga-event-action="Clicks Blog"
                     data-ga-event-label="Blog Article Click"></a>
                  <img class="img-responsive"
                       src="https://s.images-iherb.com/blog/uploads/benefits-of-collagen-supplements-small.jpg">
                  <a href="https://www.iherb.com/blog/benefits-of-collagen-supplements"
                     class="article-title line-clamp-2" data-ga-event="click" data-ga-event-category="Ecommerce"
                     data-ga-event-action="Clicks Blog" data-ga-event-label="Blog Article Click">
                     Benefits of Collagen Supplements
                  </a>
               </div>
            </div>
         </div>
         <div class="blog-link-container">
            <a href="/blog" data-ga-event="click" data-ga-event-category="Ecommerce" data-ga-event-action="Clicks Blog"
               data-ga-event-label="Visits Our Blog">
               <img src="https://s.images-iherb.com//i/footer/visit-our-blog/blog-icon-us-en.png">
            </a>
         </div>
         <div class="right-articles col-xs-11">
            <div class="article-card col-xs-12 col-lg-8 ">
               <div class="link-overlay-container">
                  <a href="https://www.iherb.com/blog/homemade-fall-inspired-lip-scrubs" class="link-overlay"
                     data-ga-event="click" data-ga-event-category="Ecommerce" data-ga-event-action="Clicks Blog"
                     data-ga-event-label="Blog Article Click"></a>
                  <img class="img-responsive"
                       src="https://s.images-iherb.com/blog/uploads/homemade-fall-inspired-lip-scrubs-small.jpg">
                  <a href="https://www.iherb.com/blog/homemade-fall-inspired-lip-scrubs"
                     class="article-title line-clamp-2" data-ga-event="click" data-ga-event-category="Ecommerce"
                     data-ga-event-action="Clicks Blog" data-ga-event-label="Blog Article Click">
                     Homemade Fall-Inspired Lip Scrubs
                  </a>
               </div>
            </div>
            <div class="article-card col-xs-12 col-lg-8 ">
               <div class="link-overlay-container">
                  <a href="https://www.iherb.com/blog/natural-solutions-for-andropause-and-low-t" class="link-overlay"
                     data-ga-event="click" data-ga-event-category="Ecommerce" data-ga-event-action="Clicks Blog"
                     data-ga-event-label="Blog Article Click"></a>
                  <img class="img-responsive"
                       src="https://s.images-iherb.com/blog/uploads/natural-solutions-for-andropause-and-low-t-small.jpg">
                  <a href="https://www.iherb.com/blog/natural-solutions-for-andropause-and-low-t"
                     class="article-title line-clamp-2" data-ga-event="click" data-ga-event-category="Ecommerce"
                     data-ga-event-action="Clicks Blog" data-ga-event-label="Blog Article Click">
                     Natural Solutions for Andropause and Low T
                  </a>
               </div>
            </div>
            <div class="article-card col-xs-12 col-lg-8 visible-lg visible-xl">
               <div class="link-overlay-container">
                  <a href="https://www.iherb.com/blog/what-is-non-gmo" class="link-overlay" data-ga-event="click"
                     data-ga-event-category="Ecommerce" data-ga-event-action="Clicks Blog"
                     data-ga-event-label="Blog Article Click"></a>
                  <img class="img-responsive" src="https://s.images-iherb.com/blog/uploads/what-is-non-gmo-small.jpg">
                  <a href="https://www.iherb.com/blog/what-is-non-gmo" class="article-title line-clamp-2"
                     data-ga-event="click" data-ga-event-category="Ecommerce" data-ga-event-action="Clicks Blog"
                     data-ga-event-label="Blog Article Click">
                     What is Non-GMO?
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
