<footer class="iherb-responsive " itemscope itemtype="http://schema.org/Organization">
   <link itemprop="url" href="https://www.iherb.com"/>
   <link itemprop="logo" href="https://s.images-iherb.com/i/menu/iherb-logo.png"/>
   <link itemprop="name" content="iHerb"/>
   <section class="footer-content">
      <div class="container-fluid">
         <div class="row footer-row">
            <div class="col-lg-13 col-xs-12">
               <div class="row">
                  <div class="col-xs-12 col-lg-8">

                     <ul>
                        <li class="title">{{ _('ABOUT Doloka') }}</li>
                        <li><a href="https://www.iherb.com/info/about">{{ _('About Us') }}</a></li>
                        <li><a href="https://www.iherb.com/info/Donate">{{ _('We Give Back') }}</a></li>
                        <li><a href="https://www.iherb.com/info/rewards">{{ _('Promote doloka') }}</a></li>
                        <li class="english-only"><a href="http://www.iherb.jobs/" target="_blank">{{ _('Careers') }}</a></li>
                        <li><a href="https://www.iherb.com/info/Suppliers">{{ _('Suppliers') }}</a></li>
                     </ul>
                  </div>
                  <div class="col-xs-12 col-lg-8">
                     <ul>
                        <li class="title">{{ _('DOLOKA RESOURCES') }}</li>
                        <li><a href="https://www.iherb.com/blog">{{ _('Doloka Blog') }}</a></li>
                        <li><a href="https://www.iherb.com/info/myiherbpage">{{ _('My Doloka Page') }}</a></li>
                        <li><a href="https://www.iherb.com/info/links">{{ _('Healthy Links') }}</a></li>
                     </ul>
                  </div>
                  <div class="col-xs-24 col-lg-8 last">
                     <ul>
                        <li class="title">{{ _('Customer Service') }}</li>
                        <li><a href="https://secure.iherb.com/info/Contact">{{ _('Contact Us') }}</a></li>
                        <li><a href="https://www.iherb.com/info/privacy">{{ _('Privacy Policy') }}</a></li>
                        <li><a href="https://www.iherb.com/info/termsofuse">{{ _('Terms of Use') }}</a></li>
                        <li><a href="https://www.iherb.com/info/SupplyChainsAct">{{ _('Supply Chains Act') }}</a></li>
                     </ul>
                  </div>
                  <div class="v-separator"></div>
               </div>
            </div>
            <div class="col-lg-5 col-xs-4 mobile-app-links">
               <ul>
                  <li class="title">{{ _('MOBILE APPS') }}</li>
               </ul>
               <div class="mobile-apps-container row">
                  <div class="qr-wrapper col-lg-12 col-xs-24">
                     <img src="https://s.images-iherb.com/i/qr-code/iherb_qrcode_appf1.png"
                          class="qr-code-image img-responsive"/>

                  </div>
                  <div class="mobile-icons col-lg-12 col-xs-24">
                     <div class="row">
                        <div class="android-icon col-xs-24">
                           <a href="https://play.google.com/store/apps/details?id=com.iherb" target="_blank">
                              <img class="img-responsive"
                                   src="https://s.images-iherb.com/i/qr-code/google-play-badge.jpg"/>
                           </a>
                        </div>
                        <div class="apple-icon col-xs-24">
                           <a href="https://itunes.apple.com/us/app/iherb/id636609212?mt=8" target="_blank">
                              <div class="img-responsive itunes-app-icon"></div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="v-separator"></div>
            </div>
            <div class="col-lg-6 col-xs-8 call-to-action-container">
               <ul class="social-media-icons">
                  <li class="title">{{ _('CONNECT WITH US') }}</li>
                  <li>
                     <a itemprop="sameAs" href="https://www.facebook.com/iHerb" target="_blank">
                        <i class="icon-facebook"></i>
                     </a>
                  </li>
                  <li>
                     <a itemprop="sameAs" href="https://twitter.com/iherb" target="_blank">
                        <i class="icon-twitter"></i>
                     </a>
                  </li>
                  <li>
                     <a itemprop="sameAs" href="https://plus.google.com/+iherb/posts" target="_blank">
                        <i class="icon-googleplus"></i>
                     </a>
                  </li>
                  <li>
                     <a itemprop="sameAs" href="https://www.youtube.com/c/iherb" target="_blank">
                        <i class="icon-youtube"></i>
                     </a>
                  </li>
                  <li>
                     <a itemprop="sameAs" href="http://www.pinterest.com/iherbinc/" target="_blank">
                        <i class="icon-pinterest"></i>
                     </a>
                  </li>
                  <li>
                     <a itemprop="sameAs" href="http://instagram.com/iherb" target="_blank">
                        <i class="icon-instagram"></i>
                     </a>
                  </li>
                  <li class="separator-list-item">
                     <div class="separator"></div>
                  </li>
               </ul>
               <ul class="call-to-action">
                  <li class="title">{{ _('Ask a Question') }}</li>
                  <li class="content">{{ _('Find answers from our knowledge base.') }}</li>
                  <li><a href="https://secure.iherb.com/info/Contact" class="btn btn-link" data-ga-event="click"
                         data-ga-event-category="Ecommerce" data-ga-event-label="Click - Get Help Now"
                         data-ga-event-action="Contact US">{{ _('Get Help Now &raquo;') }}</a></li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="rewards-container">
               <a href="https://www.iherb.com/info/rewards">
                  <div class="rewards-logo">
                     <i class="icon-iherblogo"></i>
                     <i class="icon-rewardslogo"></i>
                     <div class="text-container">
                        <p class="rewards-description">{{ _('Give 5% &amp; Get 5%') }}</p>
                        <span class="rewards-link">{{ _('Learn more') }}</span>
                     </div>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="container-fluid">
         <div class="row">
            <div class="separator"></div>
            <div class="col-xs-24 footer-bottom-text">


               <p>
                  <input type="hidden" class="model-properties-clock-footer"
                         data-year="2017"
                         data-month="10"
                         data-day="06"
                         data-hour="0"
                         data-minute="41"
                         data-second="25"
                         data-days-array='["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]'
                         data-pst="PST"
                  />

                  <span id="clock"></span>
               </p>


               <p>
                  <a href="/">{{ _('doloka.ir') }}</a>{{ _(''' &copy; Copyright 1997-2017 iHerb Inc. All rights reserved.
                  iHerb&reg; is a registered trademark of iHerb, Inc. Trusted Brands. Healthy Rewards.
                  and the iHerb.com Trusted Brands. Healthy Rewards. Logo are trademarks of iHerb,
                  Inc. *Disclaimer: Statements made, or products sold through this
                  website, have not been evaluated by the United States Food and Drug Administration. They are not
                  intended to diagnose, treat, cure or prevent any disease.''') }}
                  <a href="/info/disclaimer" class="read-more">
                     {{ _('Read More&nbsp;&raquo;') }}
                  </a>
               </p>
            </div>
         </div>
      </div>
   </section>

   <section class="footer-bottom-images">
      <div class="bottom-container container-fluid">
         <div class="row">
            <a href="https://www.iherb.com/info/storage-facilities">
               <img src="https://s.images-iherb.com/i/images/nsf.png" width="63" height="63"/>
            </a>

            <div id="GTS_CONTAINER"></div>
         </div>
      </div>
   </section>
</footer>
