   <link rel="dns-prefetch" href="https://s.images-iherb.com/">
   <script>
        var iHerb_Protocol = location.protocol;
        var iHerb_BaseUrl = location.host;
        var iHerb_ActionHost = "https://checkout.iherb.com/";
   </script>

      <!-- build:css -->
   <link href="https://s.images-iherb.com/css/app.desktop.min.catalog-optimized_895e1ebb8d91f381e91d04a6ef000452.css"
         rel="stylesheet" type="text/css"/><!-- endbuild -->
   <style>
      @font-face {
         font-family: "Lato";
         src: url("{{ url_for('static', filename='font/B_Yekan/Yekan.ttf') }}");
         src:
         url("{{ url_for('static', filename='font/B_Yekan/Yekan.ttf') }}") format("ttf"),
      }

   </style>

   <!-- build:cssie -->
   <!--[if lte IE 9]>
   <link href="https://s.images-iherb.com/css/app.desktop.min.catalog-optimized_895e1ebb8d91f381e91d04a6ef000452_ie1.css"
         rel="stylesheet" type="text/css"/>
   <link href="https://s.images-iherb.com/css/app.desktop.min.catalog-optimized_895e1ebb8d91f381e91d04a6ef000452_ie2.css"
         rel="stylesheet" type="text/css"/>
   <link href="https://s.images-iherb.com/css/app.desktop.min.catalog-optimized_895e1ebb8d91f381e91d04a6ef000452_ie3.css"
         rel="stylesheet" type="text/css"/>
   <![endif]-->
   <!-- endbuild -->

      <!--[if lte IE 9]>
   <script type="text/javascript" src="https://s.images-iherb.com/js/html5shiv-printshiv.min.js"></script>
   <script type="text/javascript" src="https://s.images-iherb.com/js/respond.min.js"></script>
   <link href="https://s.images-iherb.com/js/respond-proxy.html" id="respond-proxy" rel="respond-proxy">
   <link href="/proxy/respond.proxy.gif" id="respond-redirect" rel="respond-redirect">
   <script src="/proxy/respond.proxy.js"></script>
   <![endif]-->
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width">
   <meta name="google-site-verification" content="zBEQuibjR3T_pcVIOOVisw5Zm_nOvhR78nG0Qj4KJ5M"/>